@use "../../../styles/shared" as *;

.mm-go-to-entry__link {
  align-items: center;
  display: flex;
  gap: var(--scale200);
  text-decoration: none;

  svg {
    color: $icons-action;
    height: var(--scale500);
    width: var(--scale500);
  }
}

.mm-go-to-entry__info {
  @include typography-(paragraph-sm);

  color: $text-action;
  display: flex;
  flex-direction: column;
  gap: var(--scale200);

  &--date {
    font-family: $fonts-secondary;
  }
}

.mm-go-to-entry {
  display: flex;
  flex-direction: column;
  gap: var(--scale200);

  a:focus {
    border-radius: $border-radius-50;
    outline: $border-width-50 solid $border-focus;
  }

  &:hover div {
    color: $text-action-hover;
  }

  .mm-go-to-entry__link--next {
    justify-content: end;
  }

  @include tablet() {
    flex-direction: row;
    gap: unset;

    .mm-go-to-entry__link--next {
      margin-left: auto;
    }
  }
}
