---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection, render, type CollectionEntry } from 'astro:content';
import { PAGE_TITLES } from '../../content.config';

import WorkExperiencesSection from '../../components/WorkExperiencesSection.astro';
import EducationSection from '../../components/EducationSection.astro';
import CodingLanguagesSection from '../../components/CodingLanguagesSection.astro';

type AboutEntry = CollectionEntry<'about'>;

const aboutCollection: AboutEntry[] = await getCollection('about');

if (aboutCollection.length === 0) {
  throw new Error('About page not found in copy collection');
}

const about: AboutEntry = aboutCollection[0];

const { Content } = await render(about);

const { headline } = about.data;

const pageTitle = PAGE_TITLES.about;
---

<BaseLayout title={pageTitle}>
  <section class='mm-about'>
    <Content />
    <h2>{headline}</h2>
  
    <CodingLanguagesSection />
  
    <wa-accordion>
      <WorkExperiencesSection />
    </wa-accordion>
  
    <wa-accordion>
      <EducationSection />
    </wa-accordion>
  </section>

</BaseLayout>

<script>
  import 'wa11y-ui/wa-accordion';
</script>
