@import './_variables.css';
@import './components/wa-button.css';

body {
  background-color: red;
}


/* TAG */
/* --- */
.mm-tag-list {
  /* reset */
  list-style-type: none;
  margin: 0;
  padding-left: 0;

  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.mm-tag {
  /* reset */
  padding: 0;

  border-radius: 2px;
  border: 1px solid #e0d8cc;
  color: #5a4e43;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  padding: 4px 8px;
  text-transform: uppercase;
}
