@use 'sass:math';

@use './variables';
@use './components/wa-button';

@function rem($px) {
  @return math.div($px, 16) * 1rem;
}

body {
  font-size: rem(16);
  font-family: 'Space Grotesk', sans-serif;
}

/* Resets */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;

  li {
    padding: 0;
  }
}

/* Breakpoints */
@mixin mobile {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin desktop-lg {
  @media (min-width: 1440px) {
    @content;
  }
}

/* Variables */
$backgroundDark: #1a1a1a;
$backgroundLight: #fffcf7;

/* Components */

/* CHIP */
.mm-chip-list {
  display: flex;
  gap: rem(8);
  margin-bottom: rem(16);
}

.mm-chip {
  border-radius: 2px;
  border: rem(1) solid #e0d8cc;
  color: #5a4e43;
  font-size: rem(12);
  font-weight: 400;
  line-height: rem(12);
  padding: rem(4) rem(8);
  text-transform: uppercase;
}

/* 32 20

/* NAVIGATION */
.mm-navigation {
  // background-color: $backgroundDark;
  background-color: red;
  padding: rem(32) rem(20);

  // &__mobile {
  //   margin-bottom: rem(32);
  // }

  &__list {
    gap: rem(12);
    flex-direction: column;
  }

  &__list-item a {
    color: #fffcf7;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__icon-x {
    display: none;
  }

  &__hamburger {
    align-items: center;
    background: $backgroundDark;
    color: #fffcf7;
    display: flex;
    height: rem(48);
    justify-content: center;
    width: rem(48);
  }

  &__mobile:has(&__hamburger[aria-expanded='true']) {
    margin-bottom: 32px;
  }

  &__hamburger[aria-expanded='true'] {
    .mm-navigation__icon-x {
      display: block;
    }

    .mm-navigation__icon-list {
      display: none;
    }
  }

  @include tablet {
    &__mobile {
      display: none !important;
    }
  }
}

/* hero */
.mm-hero {
  background-color: $backgroundDark;
  color: #fffcf7;
}

.mm-blog-list {
  background-color: $backgroundLight;
}

.mm-blog-post {
  background-color: $backgroundLight;
}

.mm-pet-projects {
  background-color: $backgroundLight;
}

.mm-pet-project {
  background-color: $backgroundLight;
}

.mm-pet-projects-teaser {
  background-color: $backgroundLight;
}

.mm-about {
  background-color: $backgroundLight;
}

.mm-about-teaser {
  background-color: $backgroundLight;
}

/* Footer */
.mm-footer {
  background-color: $backgroundDark;
  color: #fffcf7;

  &__body {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: rem(40) rem(16);
  }

  &__heading {
    text-transform: uppercase;
    margin-bottom: rem(24);
  }

  &__collaboration {
    margin-bottom: rem(48);
    text-align: center;
  }

  &__social-links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(32);
  }

  &__social-link,
  &__social-link a {
    color: #e69a87;
  }

  &__social-link a {
    align-items: center;
    display: flex;
    font-size: rem(20);
    gap: 2px;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__built-with {
    background-color: #e0d8cc;
    color: #5a4e43;
    padding: rem(32) rem(20);
    text-align: center;
  }

  &__copyright {
    display: block;
  }

  @include tablet() {
    &__body {
      padding: rem(60) rem(40);
    }

    &__social-links-list {
      flex-direction: row;
    }
  }

  @include desktop() {
    &__body {
      padding: rem(80) rem(320);
    }

    &__built-with {
      padding-left: unset;
      padding-right: unset;
    }
  }
}
