@use "./tokens/mapped" as *;

@mixin typography-($level) {
  font-family: $fonts-primary;
  font-size: var(--typography-#{$level}-font-size);
  line-height: var(--typography-#{$level}-line-height);
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin mobile {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin desktop-lg {
  @media (min-width: 1440px) {
    @content;
  }
}
