:root {
  // Primary
  --primary-100: var(--color-rosso-mattone100);
  --primary-200: var(--color-rosso-mattone200);
  --primary-300: var(--color-rosso-mattone300);
  --primary-400: var(--color-rosso-mattone400);
  --primary-default: var(--color-rosso-mattone500);
  --primary-600: var(--color-rosso-mattone600);
  --primary-700: var(--color-rosso-mattone700);
  --primary-800: var(--color-rosso-mattone800);
  --primary-900: var(--color-rosso-mattone900);

  // Error
  --error-100: var(--color-rosso100);
  --error-200: var(--color-rosso200);
  --error-300: var(--color-rosso300);
  --error-400: var(--color-rosso400);
  --error-default: var(--color-rosso500);
  --error-600: var(--color-rosso600);
  --error-700: var(--color-rosso700);
  --error-800: var(--color-rosso800);
  --error-900: var(--color-rosso900);

  // Information
  --information-100: var(--color-teal100);
  --information-200: var(--color-teal200);
  --information-300: var(--color-teal300);
  --information-400: var(--color-teal400);
  --information-500: var(--color-teal500);
  --information-600: var(--color-teal600);
  --information-700: var(--color-teal700);
  --information-800: var(--color-teal800);
  --information-900: var(--color-teal900);

  // Success
  --success-100: var(--color-verde100);
  --success-200: var(--color-verde200);
  --success-300: var(--color-verde300);
  --success-400: var(--color-verde400);
  --success-default: var(--color-verde500);
  --success-600: var(--color-verde600);
  --success-700: var(--color-verde700);
  --success-800: var(--color-verde800);
  --success-900: var(--color-verde900);

  // Warning
  --warning-100: var(--color-arancione100);
  --warning-200: var(--color-arancione200);
  --warning-300: var(--color-arancione300);
  --warning-400: var(--color-arancione400);
  --warning-default: var(--color-arancione500);
  --warning-600: var(--color-arancione600);
  --warning-700: var(--color-arancione700);
  --warning-800: var(--color-arancione800);
  --warning-900: var(--color-arancione900);

  // Neutral
  --neutral-100: var(--color-neutrals100);
  --neutral-200: var(--color-neutrals200);
  --neutral-300: var(--color-neutrals300);
  --neutral-400: var(--color-neutrals400);
  --neutral-default: var(--color-neutrals500);
  --neutral-600: var(--color-neutrals600);
  --neutral-700: var(--color-neutrals700);
  --neutral-800: var(--color-neutrals800);
  --neutral-black: var(--color-neutrals900);
  --neutral-white: var(--color-neutrals50);

  // Border width
  --border-width-25: var(--scale25);
  --border-width-50: var(--scale50);
  --border-width-m: var(--scale100);

  // Border radius
  --border-radius-none: var(--scale0);
  --border-radius-50: var(--scale50);
  --border-radius-100: var(--scale100);
  --border-radius-200: var(--scale200);
  --border-radius-300: var(--scale300);
  --border-radius-round: var(--scale1600);

  // Fonts
  --fonts-primary: var(--fonts-headings-style-tanker);
  --fonts-secondary: var(--fonts-paragraph-style-space-grotesk);
}
