:root {
  --color-neutrals100: #f5f0e8;
  --color-neutrals200: #ede7dd;
  --color-neutrals300: #e0d8cc;
  --color-neutrals400: #c9bfb1;
  --color-neutrals500: #a39789;
  --color-neutrals600: #7d6f62;
  --color-neutrals700: #5a4e43;
  --color-neutrals800: #3d3530;
  --color-neutrals900: #1a1a1a;
  --color-rosso100: #f5ddda;
  --color-rosso200: #ebbcb5;
  --color-rosso300: #e09a90;
  --color-rosso400: #d6796b;
  --color-rosso500: #cc5746;
  --color-rosso600: #a34638;
  --color-rosso700: #7a342a;
  --color-rosso800: #52231c;
  --color-rosso900: #29110e;
  --color-verde100: #e4ebe4;
  --color-verde200: #cad7c8;
  --color-verde300: #afc3ad;
  --color-verde400: #95af91;
  --color-verde500: #7a9b76;
  --color-verde600: #627c5e;
  --color-verde700: #495d47;
  --color-verde800: #313e2f;
  --color-verde900: #181f18;
  --fonts-headings-style-tanker: "Tanker";
  --fonts-headings-weight-regular: "Regular";
  --fonts-paragraph-style-space-grotesk: "Space Grotesk";
  --fonts-paragraph-weight-regular: "Regular";
  --fonts-paragraph-weight-medium: "Medium";
  --fonts-paragraph-weight-bold: "Bold";
  --scale0: 0px;
  --scale25: 1px;
  --scale50: 2px;
  --scale100: 4px;
  --scale200: 8px;
  --scale300: 12px;
  --scale400: 16px;
  --scale500: 20px;
  --scale600: 24px;
  --scale700: 28px;
  --scale800: 32px;
  --scale900: 36px;
  --scale1000: 40px;
  --scale1100: 48px;
  --scale1200: 56px;
  --scale1300: 64px;
  --scale1400: 72px;
  --scale1500: 96px;
  --scale1600: 128px;
  --color-arancione100: #faecdd;
  --color-arancione200: #f6d9bb;
  --color-arancione300: #edb378;
  --color-arancione400: #efad50;
  --color-arancione500: #e8a056;
  --color-arancione600: #ba8045;
  --color-arancione700: #8b6034;
  --color-arancione800: #5d4022;
  --color-arancione900: #2e2011;
  --scale1050: 44px;
  --color-neutrals50: #fffcf7;
  --color-rosso-mattone100: #f9e5e0;
  --color-rosso-mattone200: #f0c5ba;
  --color-rosso-mattone300: #e69a87;
  --color-rosso-mattone400: #db7259;
  --color-rosso-mattone500: #c1502e;
  --color-rosso-mattone600: #a63f23;
  --color-rosso-mattone700: #8a311b;
  --color-rosso-mattone800: #6d2515;
  --color-rosso-mattone900: #4f1a0f;
  --color-teal100: #d5e4e5;
  --color-teal200: #abcaca;
  --color-teal300: #80afb0;
  --color-teal400: #569595;
  --color-teal500: #2c7a7b;
  --color-teal600: #236262;
  --color-teal700: #1a494a;
  --color-teal800: #123131;
  --color-teal900: #091819;
}
