@use "../utils" as *;

:root {
  --color-neutrals50: #fffcf7;
  --color-neutrals100: #f5f0e8;
  --color-neutrals200: #ede7dd;
  --color-neutrals300: #e0d8cc;
  --color-neutrals400: #c9bfb1;
  --color-neutrals500: #a39789;
  --color-neutrals600: #7d6f62;
  --color-neutrals700: #5a4e43;
  --color-neutrals800: #3d3530;
  --color-neutrals900: #1a1a1a;
  --color-red100: #f5ddda;
  --color-red200: #ebbcb5;
  --color-red300: #e09a90;
  --color-red400: #d6796b;
  --color-red500: #cc5746;
  --color-red600: #a34638;
  --color-red700: #7a342a;
  --color-red800: #52231c;
  --color-red900: #29110e;
  --color-green100: #e4ebe4;
  --color-green200: #cad7c8;
  --color-green300: #afc3ad;
  --color-green400: #95af91;
  --color-green500: #7a9b76;
  --color-green600: #627c5e;
  --color-green700: #495d47;
  --color-green800: #313e2f;
  --color-green900: #181f18;
  --color-orange100: #faecdd;
  --color-orange200: #f6d9bb;
  --color-orange300: #edb378;
  --color-orange400: #efad50;
  --color-orange500: #e8a056;
  --color-orange600: #ba8045;
  --color-orange700: #8b6034;
  --color-orange800: #5d4022;
  --color-orange900: #2e2011;
  --color-brick-red100: #f9e5e0;
  --color-brick-red200: #f0c5ba;
  --color-brick-red300: #e69a87;
  --color-brick-red400: #db7259;
  --color-brick-red500: #c1502e;
  --color-brick-red600: #a63f23;
  --color-brick-red700: #8a311b;
  --color-brick-red800: #6d2515;
  --color-brick-red900: #4f1a0f;
  --color-teal100: #d5e4e5;
  --color-teal200: #abcaca;
  --color-teal300: #80afb0;
  --color-teal400: #569595;
  --color-teal500: #2c7a7b;
  --color-teal600: #236262;
  --color-teal700: #1a494a;
  --color-teal800: #123131;
  --color-teal900: #091819;
  --fonts-headings-style-tanker: "Tanker";
  --fonts-headings-weight-regular: 400;
  --fonts-paragraph-style-space-grotesk: "Space Grotesk";
  --fonts-paragraph-weight-regular: 400;
  --fonts-paragraph-weight-medium: 500;
  --fonts-paragraph-weight-bold: 700;
  --scale0: 0;
  --scale25: #{rem(1)};
  --scale50: #{rem(2)};
  --scale100: #{rem(4)};
  --scale200: #{rem(8)};
  --scale300: #{rem(12)};
  --scale400: #{rem(16)};
  --scale500: #{rem(20)};
  --scale600: #{rem(24)};
  --scale700: #{rem(28)};
  --scale800: #{rem(32)};
  --scale900: #{rem(36)};
  --scale1000: #{rem(40)};
  --scale1050: #{rem(44)};
  --scale1100: #{rem(48)};
  --scale1200: #{rem(56)};
  --scale1300: #{rem(64)};
  --scale1400: #{rem(72)};
  --scale1500: #{rem(96)};
  --scale1600: #{rem(128)};
}
