// Primary
$primary-100: var(--primary-100);
$primary-200: var(--primary-200);
$primary-300: var(--primary-300);
$primary-400: var(--primary-400);
$primary-default: var(--primary-default);
$primary-600: var(--primary-600);
$primary-700: var(--primary-700);
$primary-800: var(--primary-800);
$primary-900: var(--primary-900);

// Error
$error-100: var(--error-100);
$error-200: var(--error-200);
$error-300: var(--error-300);
$error-400: var(--error-400);
$error-default: var(--error-default);
$error-600: var(--error-600);
$error-700: var(--error-700);
$error-800: var(--error-800);
$error-900: var(--error-900);

// Information
$information-100: var(--information-100);
$information-200: var(--information-200);
$information-300: var(--information-300);
$information-400: var(--information-400);
$information-500: var(--information-500);
$information-600: var(--information-600);
$information-700: var(--information-700);
$information-800: var(--information-800);
$information-900: var(--information-900);

// Success
$success-100: var(--success-100);
$success-200: var(--success-200);
$success-300: var(--success-300);
$success-400: var(--success-400);
$success-default: var(--success-default);
$success-600: var(--success-600);
$success-700: var(--success-700);
$success-800: var(--success-800);
$success-900: var(--success-900);

// Warning
$warning-100: var(--warning-100);
$warning-200: var(--warning-200);
$warning-300: var(--warning-300);
$warning-400: var(--warning-400);
$warning-default: var(--warning-default);
$warning-600: var(--warning-600);
$warning-700: var(--warning-700);
$warning-800: var(--warning-800);
$warning-900: var(--warning-900);

// Neutral
$neutral-100: var(--neutral-100);
$neutral-200: var(--neutral-200);
$neutral-300: var(--neutral-300);
$neutral-400: var(--neutral-400);
$neutral-default: var(--neutral-default);
$neutral-600: var(--neutral-600);
$neutral-700: var(--neutral-700);
$neutral-800: var(--neutral-800);
$neutral-black: var(--neutral-black);
$neutral-white: var(--neutral-white);

// Border width
$border-width-25: var(--border-width-25);
$border-width-50: var(--border-width-50);
$border-width-m: var(--border-width-m);

// Border radius
$border-radius-none: var(--border-radius-none);
$border-radius-50: var(--border-radius-50);
$border-radius-100: var(--border-radius-100);
$border-radius-200: var(--border-radius-200);
$border-radius-300: var(--border-radius-300);
$border-radius-round: var(--border-radius-round);

// Fonts
$fonts-primary: var(--fonts-primary);
$fonts-secondary: var(--fonts-secondary);
