---
import BaseLayout from '../layouts/BaseLayout.astro';

import { getEntryBySlug } from 'astro:content';

const about = await getEntryBySlug('copy', 'about');

const { Content } = await about.render();
---

<BaseLayout>
  <h1>{about.data.headline}</h1>
  <Content />
  <img src='/path/to/image.jpg' alt={about.data.image.alt} />
</BaseLayout>
