---
import { getCollection, render, type CollectionEntry } from 'astro:content';
import BlogList from '../components/BlogList.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

type HomeEntry = CollectionEntry<'home'>;

const homeCollection: HomeEntry[] = await getCollection('home');

if (homeCollection.length === 0) {
  throw new Error('Home page not found in copy collection');
}

const home: HomeEntry = homeCollection[0];

const {
  headline,
  image: { alt, src },
} = home.data;

const { Content } = await render(home);
---

<BaseLayout>
  <h1>{headline}</h1>
  <Content />
  <img src={src} alt={alt} />
  <BlogList />
</BaseLayout>
