---
import BlogList from '../components/BlogList.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

import { getEntryBySlug } from 'astro:content';

const home = await getEntryBySlug('copy', 'home');

const {
  headline,
  image: { alt, src },
} = home.data;

const { Content } = await home.render();
---

<BaseLayout>
  <h1>{headline}</h1>
  <Content />
  <img src={src} alt={alt} />
  <BlogList />
</BaseLayout>
