---
import BlogList from '../components/BlogList.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

import { getEntry } from 'astro:content';

const home = await getEntry('copy', 'home');

if (!home) {
  throw new Error('Home page not found in copy collection');
}

const {
  headline,
  image: { alt, src },
} = home.data;

const { Content } = await home.render();
---

<BaseLayout>
  <h1>{headline}</h1>
  <Content />
  <img src={src} alt={alt} />
  <BlogList />
</BaseLayout>
