@use "../../../styles/shared" as *;

.mm-button {
  background: $primary-default;
  color: $neutral-white;
  display: flex;
  gap: var(--scale200);
  justify-content: center;
  padding: var(--scale300) 0;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background: $primary-600;
  }

  &:focus {
    outline: $border-width-50 solid $primary-default;
  }

  &__icon {
    align-self: center;
    display: flex;
  }

  @include tablet() {
    position: absolute;
    right: rem(
      40
    ); /* TODO: this is the padding from Default section.. can be a variable */
    padding-right: var(--scale500);
    padding-left: var(--scale500);
  }
}
