---
import { getCollection, render, type CollectionEntry } from 'astro:content';
import WorkExperiencesSection from './WorkExperiencesSection.astro';
import EducationSection from './EducationSection.astro';
import ChipList from './ChipList.astro';

type AboutEntry = CollectionEntry<'about'>;

const aboutCollection: AboutEntry[] = await getCollection('about');

if (aboutCollection.length === 0) {
  throw new Error('About page not found in copy collection');
}

const about: AboutEntry = aboutCollection[0];
const { Content } = await render(about);
const { headline } = about.data;

const isHome = Astro.url.pathname === '/';

const codingDocs = await getCollection('codingLanguages');
if (codingDocs.length === 0) {
  throw new Error('Tags & coding languages not found in copy collection');
}
const codingLanguages = codingDocs[0].data.codingLanguages as string[];
---

<section class='mm-about'>
  <h2>About Me</h2>
  {isHome && <a href='/about'>About page</a>}
  <Content />
  {!isHome && (
    <>
      <h2>{headline}</h2>
      <ChipList chips={codingLanguages} />
      <wa-accordion>
        <WorkExperiencesSection />
      </wa-accordion>
      <wa-accordion>
        <EducationSection />
      </wa-accordion>
    </>
  )}
</section>

<script>
  import 'wa11y-ui/wa-accordion';
</script>
