---
import { getCollection, render, type CollectionEntry } from 'astro:content';
import WorkExperiencesSection from './WorkExperiencesSection.astro';
import EducationSection from './EducationSection.astro';
import ChipList from './ChipList.astro';
import Button from './Button.astro';

type AboutEntry = CollectionEntry<'about'>;

const aboutCollection: AboutEntry[] = await getCollection('about');

if (aboutCollection.length === 0) {
  throw new Error('About page not found in copy collection');
}

const about: AboutEntry = aboutCollection[0];
const { Content } = await render(about);
const { headline } = about.data;

const isHome = Astro.url.pathname === '/';

const codingDocs = await getCollection('codingLanguages');
if (codingDocs.length === 0) {
  throw new Error('Tags & coding languages not found in copy collection');
}
const codingLanguages = codingDocs[0].data.codingLanguages as string[];
---

<section class='mm-about'>
  <h2 class='mm-about__headline'>{headline}</h2>
  {
    isHome && (
      <Button class='mm-about__button' href='/about'>
        About page
      </Button>
    )
  }
  <div class='mm-about__content'>
    <Content />
    {
      !isHome && (
        <>
          <ChipList chips={codingLanguages} />
          <wa-accordion>
            <WorkExperiencesSection />
          </wa-accordion>
          <wa-accordion>
            <EducationSection />
          </wa-accordion>
        </>
      )
    }
  </div>
</section>

<script>
  import 'wa11y-ui/wa-accordion';
</script>
