---
import { getCollection, getEntryBySlug } from 'astro:content';

const posts = await getCollection('blog');
const blog = await getEntryBySlug('copy', 'blog');
const { headline } = blog.data;

---
<h2>{headline}</h2>
<ul>
  {
    posts.map((post: { data: { slug: string; title: string } }) => {
      const { slug, title } = post.data;

      return (
        <li>
          <a href={`/blog/${slug}`}>{title}</a>
        </li>
      );
    })
  }
</ul>
