---
import {
  getCollection,
  getEntryBySlug,
  type CollectionEntry,
} from 'astro:content';

const posts: CollectionEntry<'blog'>[] = await getCollection('blog');
const blog = await getEntryBySlug('copy', 'blog');
const { headline } = blog.data;

const sortedPosts: CollectionEntry<'blog'>[] = posts.sort(
  (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) => {
    const [dayA, monthA, yearA] = a.data.date.split('-').map(Number);
    const [dayB, monthB, yearB] = b.data.date.split('-').map(Number);

    const dateA = new Date(yearA, monthA - 1, dayA);
    const dateB = new Date(yearB, monthB - 1, dayB);

    return dateB.getTime() - dateA.getTime();
  }
);
---

<h2>{headline}</h2>
<ul>
  {
    sortedPosts.map((post: { data: { slug: string; title: string } }) => {
      const { slug, title } = post.data;

      return (
        <li>
          <a href={`/blog/${slug}`}>{title}</a>
        </li>
      );
    })
  }
</ul>
