---
import { CaretRightIcon } from '@phosphor-icons/react';

interface Props {
  href: string;
  class?: string;
}

const { href, class: className } = Astro.props;
---

<a class:list={['mm-button', className]} href={href}
  ><slot />
  <span class='mm-button__icon'>
    <CaretRightIcon />
  </span>
</a>
