---
import { CaretRightIcon } from '@phosphor-icons/react';

interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a class='mm-button' href={href}
  ><slot />
  <span class='mm-button__icon'>
    <CaretRightIcon />
  </span>
</a>
