---
import { getCollection, type CollectionEntry } from 'astro:content';
import { ListIcon, XIcon } from '@phosphor-icons/react';

type NavigationEntry = CollectionEntry<'navigation'>;

const navigationCollection: NavigationEntry[] =
  await getCollection('navigation');

if (navigationCollection.length === 0) {
  throw new Error('Navigation not found in copy collection');
}

const { navigationItems } = navigationCollection[0].data;
---

<nav>
  <style>
    /* inline: show only on mobile (<=799px) */
    #mobile-icons {
      display: none;
    }
    @media (max-width: 799px) {
      #mobile-icons {
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }
    }
  </style>
  <div id='mobile-icons'>
    <button type='button'>
      <ListIcon size={32} />
    </button>
    <button type='button'>
      <XIcon size={32} />
    </button>
  </div>

  <ul>
    {
      navigationItems.map((navigationItem) => {
        const { url, label } = navigationItem;
        return (
          <li>
            <a href={url}>{label}</a>
          </li>
        );
      })
    }
  </ul>
</nav>
