---
import { getEntryBySlug } from 'astro:content';

const nav = await getEntryBySlug('copy', 'navigation');

const items = nav.data.items;
---

<nav>
  <ul>
    {
      items.map(
        ({
          url,
          label,
        }: {
          url: string | URL | null | undefined;
          label: unknown;
        }) => (
          <li>
            <a href={url}>{label}</a>
          </li>
        )
      )
    }
  </ul>
</nav>
