---
import { getCollection, type CollectionEntry } from 'astro:content';
import { ListIcon, XIcon } from '@phosphor-icons/react';

type NavigationEntry = CollectionEntry<'navigation'>;

const navigationCollection: NavigationEntry[] =
  await getCollection('navigation');

if (navigationCollection.length === 0) {
  throw new Error('Navigation not found in copy collection');
}

const { navigationItems } = navigationCollection[0].data;
---

<nav>
  <ListIcon size={32} />
  <XIcon size={32} />

  <ul>
    {
      navigationItems.map((navigationItem) => {
        const { url, label } = navigationItem;
        return (
          <li>
            <a href={url}>{label}</a>
          </li>
        );
      })
    }
  </ul>
</nav>
