---
import { getEntry } from 'astro:content';

const nav = await getEntry('copy', 'navigation');

if (!nav) {
  throw new Error('Navigation not found in copy collection');
}

const items = nav.data.items;
---

<nav>
  <ul>
    {
      items.map(
        ({
          url,
          label,
        }: {
          url: string | URL | null | undefined;
          label: unknown;
        }) => (
          <li>
            <a href={url}>{label}</a>
          </li>
        )
      )
    }
  </ul>
</nav>
