---
import { getCollection, type CollectionEntry } from 'astro:content';

type NavigationEntry = CollectionEntry<'navigation'>;

const navigationCollection: NavigationEntry[] =
  await getCollection('navigation');
if (navigationCollection.length === 0) {
  throw new Error('Navigation not found in copy collection');
}

const { items } = navigationCollection[0].data;
---

<nav>
  <ul>
    {
      items.map((item) => {
        const { url, label } = item;
        return (
          <li>
            <a href={url}>{label}</a>
          </li>
        );
      })
    }
  </ul>
</nav>
