---
import { getCollection, type CollectionEntry } from 'astro:content';
import PetProjectItem from './PetProjectItem.astro';

type PetProjectEntry = CollectionEntry<'petProjects'>;

const entries: PetProjectEntry[] = await getCollection('petProjects');
const sortedEntries = entries.sort((a, b) => a.data.order - b.data.order);
const isHome = Astro.url.pathname === '/';
---

<section class='mm-pet-projects'>
  <h2>Pet Projects</h2>
  {isHome && <a href='/about'>See all projects</a>}
  {sortedEntries.map((entry) => <PetProjectItem entry={entry} />)}
</section>
