---
import { getCollection, type CollectionEntry } from 'astro:content';
import PetProjectItem from './PetProjectItem.astro';

type PetProjectEntry = CollectionEntry<'petProjects'>;
type Props = { showLink?: boolean };

const entries: PetProjectEntry[] = await getCollection('petProjects');
const sortedEntries = entries.sort((a, b) => a.data.order - b.data.order);
const { showLink = false } = Astro.props;
---

<section class='mm-pet-projects-teaser'>
  <h2>Pet Projects</h2>
  {showLink && <a href='/about'>See all projects</a>}
  {sortedEntries.map((entry) => <PetProjectItem entry={entry} />)}
</section>
