---
import { getCollection, type CollectionEntry } from 'astro:content';
import PetProjectItem from './PetProjectItem.astro';
import Button from './Button.astro';

type PetProjectEntry = CollectionEntry<'petProjects'>;

const entries: PetProjectEntry[] = await getCollection('petProjects');
const sortedEntries = entries.sort((a, b) => a.data.order - b.data.order);
const isHome = Astro.url.pathname === '/';
---

<section class='mm-pet-projects'>
  <h2 class='mm-pet-projects__headline'>Pet Projects</h2>
  {isHome && <Button class='mm-pet-projects__button' href='/about'>See all projects</Button>}
  <div class='mm-pet-projects__content'>
    {sortedEntries.map((entry) => <PetProjectItem entry={entry} />)}
  </div>
</section>
