---
import { getCollection, type CollectionEntry } from 'astro:content';
import {
  PaperPlaneTiltIcon,
  GitlabLogoSimpleIcon,
  LinkedinLogoIcon,
} from '@phosphor-icons/react';

type SocialLinksEntry = CollectionEntry<'socialLinks'>;

type socialLinksProps = {
  showHeadline?: boolean;
};

const { showHeadline = true } = Astro.props as socialLinksProps;

const socialLinksCollection: SocialLinksEntry[] =
  await getCollection('socialLinks');

if (socialLinksCollection.length === 0) {
  throw new Error('Social links not found in copy collection');
}

const socialLinks: SocialLinksEntry = socialLinksCollection[0];

const { headline: socialLinksHeadline, CTA: socialLinksCTA } = socialLinks.data;
---

{showHeadline && <h2>{socialLinksHeadline}</h2>}
<ul class='mm-social-links'>
  {
    socialLinksCTA.map(({ url, label }) => (
      <li class='mm-social-link'>
        {url && (
          <>
            {url.startsWith('mailto:') && <PaperPlaneTiltIcon size={20} />}
            {(url.includes('gitlab') || url.includes('github')) && <GitlabLogoSimpleIcon size={20} />}
            {url.includes('linkedin') && <LinkedinLogoIcon size={20} />}
            <a href={url}>{label}</a>
          </>
        )}
      </li>
    ))
  }
</ul>
