---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PetProjectsSection from '../../components/PetProjectsSection.astro';
---

<BaseLayout title='Pet Projects | Marco Mazzai'>
  <section class='mm-pet-projects'>
    <h1>Pet Projects</h1>
    <PetProjectsSection />
  </section>
</BaseLayout>
