@use "../../../styles/shared" as *;

.mm-project-iframe {
  position: relative;

  &__frame {
    aspect-ratio: var(--iframe-width) / var(--iframe-height);
    border: $border-width-25 solid $border-default;
    border-radius: $border-radius-300;
    display: block;
    height: auto;
    max-width: calc(var(--iframe-width) * 1px);
    width: 100%;
  }

  &__skip {
    @include typography-(h4);

    background: $surface-action;
    border-radius: $border-radius-50;
    color: $text-on-action;
    display: block;
    left: 0;
    opacity: 0;
    padding: var(--scale300) var(--scale500);
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    transition: opacity 0.15s;

    &:focus {
      opacity: 1;
      outline: $border-width-50 solid $surface-action;
      outline-offset: $border-width-25;
      transform: translateY(0);
    }
  }

  &__skip--back {
    bottom: 0;
    top: auto;
    transform: translateY(100%);

    &:focus {
      transform: translateY(0);
    }
  }
}
