---
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';

const { title } = Astro.props;

import '../styles/global.css';

---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>{title ?? 'Marco Mazzai | Portfolio & Blog'}</title>

    <!-- SEO + Social Meta -->
    <meta name='keywords' content='' />
    <meta name='description' content='' />
    <meta property='og:title' content='' />
    <meta property='og:url' content='' />
    <meta property='og:image' content='' />
    <meta property='og:type' content='' />
    <meta property='og:description' content='' />
    <meta property='og:locale' content='' />
  </head>
  <body>
    <Navigation />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
