---
import Navigation from '../components/Navigation.astro';

const { title } = Astro.props;

import '../styles/global.css';

---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>{title ?? 'Marco Mazzai Website'}</title>
  </head>
  <body>
    <Navigation />
    <main>
      <slot />
    </main>
  </body>
</html>
