---
import Navigation from '../components/Navigation.astro';
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Marco Mazzai Website</title>
  </head>
  <body>
    <Navigation />
    <main>
      <slot />
    </main>
  </body>
</html>
